<h1>Welcome, {{currentUser.name}}</h1>
<p *ngIf="!currentUser.email.isVerified">Your email has not been verified! <button type="button" (click)="onResendVerification()">Resend verification link</button></p>
<nav>
    <ul>
        <li>
            <a routerLink="/public-feed">Public collection feed</a>
        </li>
        <li>
            <a routerLink="/nasa-search">Nasa image search</a>
        </li>
        <li>
            <a routerLink="/logout">Log out</a>
        </li>
    </ul>
</nav>

<main>
    <section id="create-collection">
        <form #f="ngForm" (ngSubmit)="onCreateCollection(f.value)" accept-charset="utf-8">
            <fieldset>
                <legend>Create a collection</legend>
                <label>Collection name</label>
                <br />
                <input type="text" name="name" ngModel />
                <br />
                <br />

                <label>Collection description</label>
                <br />
                <textarea name="description" ngModel></textarea>
                <br />
                <br />

                <label><input type="checkbox" name="isPublic" ngModel /> Make it public?</label>
                <br />
                <br />

                <input type="submit" value="Create"/>
            </fieldset>
        </form>
    </section>
    <section id="my-collections">
        <h2>My collections</h2>
        <ul *ngIf="myCollections.length">
            <li *ngFor="let collection of myCollections">
                <a routerLink="/collection/{{collection._id}}">{{collection.name}}</a>
            </li>
        </ul>
        <p *ngIf="!myCollections.length">No items.</p>
    </section>
    <section id="takedownNotices">
        <h2>Takedown/infringement notices</h2>
        <ul *ngIf="takedownNotices.length">
            <li *ngFor="let notice of takedownNotices">
                <p>Notice for: <a routerLink="/collection/{{notice.for._id}}">{{notice.for.name}}</a></p>
                <div *ngIf="!notice.disputeMessage">
                    <textarea placeholder="Enter dispute message" (change)="onDisputeMessageChange($event)"></textarea>
                    <button type="button" (click)="sendDisputeMessage(notice)">Send to admin</button>
                </div>
                <p *ngIf="notice.disputeMessage"><b>You have sent the following dispute message:</b> {{notice.disputeMessage}}</p>
                <p>This content has <span *ngIf="!notice.for.isDeleted">not</span> been taken down by the admin.</p>
            </li>
        </ul>
        <p *ngIf="!takedownNotices.length">There are no takedown notices</p>
    </section>
</main>